pipecat-ai[openai,silero,websocket,sarvam,runner,tracing]
opentelemetry-exporter-otlp-proto-http
python-dotenv
python-multipart
httpx
loguru
google-api-python-client
google-auth
google-auth-oauthlib
tzdata
boto3
